// eslint-disable-next-line no-undef
{
   "env": {
      "browser": true,
      "es2021": true
   },
   "extends": [
      "plugin:@typescript-eslint/recommended",
      "plugin:react-hooks/recommended",
      "plugin:react/recommended",
      "plugin:import/warnings",
      "plugin:import/typescript",
      "plugin:react/jsx-runtime",
      "plugin:@typescript-eslint/eslint-plugin"
   ],
   "parser": "@typescript-eslint/parser",
   "parserOptions": {
      "ecmaFeatures": {
         "jsx": true
      }
   },
   "plugins": [
      "react",
      "react-hooks",
      "@typescript-eslint",
      "sort-keys-fix"
   ],
   "rules": {
      "@typescript-eslint/ban-ts-comment": [
         "error",
         { "ts-ignore": "allow-with-description" }
      ],
      "@typescript-eslint/explicit-function-return-type": "off",
      "array-bracket-spacing": ["error", "never"],
      "comma-dangle": ["error", "always-multiline"],
      "eol-last": ["error", "always"],
      "indent": "off",
      "@typescript-eslint/indent": [
         "error",
         3,
         {
            "ArrayExpression": "first",
            "CallExpression": { "arguments": "first" },
            "FunctionDeclaration": { "parameters": "first" },
            "FunctionExpression": { "parameters": "first" },
            "ObjectExpression": "first",
            "VariableDeclarator": "first"
         }
      ],
      "keyword-spacing": ["error"],
      "lines-around-comment": [
         "error",
         {
            "allowBlockStart": true,
            "beforeBlockComment": true,
            "beforeLineComment": true
         }
      ],
      "no-console": ["warn"],
      "no-multiple-empty-lines": ["error", { "max": 1 }],
      "no-trailing-spaces": "error",
      "object-curly-spacing": ["error", "always"],
      "quotes": ["error", "double"],
      "react-hooks/exhaustive-deps": "warn",
      "react-hooks/rules-of-hooks": "error",
      "semi": ["error", "never"],
      "space-in-parens": ["error", "never"]
   }
}
